
# SPDX-FileCopyrightText: use-cases/{{ shortname }}/features.yaml CODEOWNERS
# SPDX-FileCopyrightText: openmod-features contributors
#
# SPDX-License-Identifier: CC-BY-4.0

# yaml-language-server: $schema=https://raw.githubusercontent.com/open-energy-transition/openmod-features/{{ _copier_answers._commit }}/schema/use-case-schema.yaml

assumptions: []
features:
  processes:
    boundary_exchange:
      value: '?'
    conversion:
      one_to_one:
        value: '?'
      multi_carrier_io:
        value: '?'
      flexible_ratio:
        value: '?'
    temporal_transfer:
      value: '?'
    spatial_transfer:
      value: '?'
    delayed_transfer:
      value: '?'
    buffered_transfer:
      value: '?'
    discrete_transport:
      value: '?'
    state_changing_transfer:
      value: '?'
    explicit_demand:
      inelastic:
        value: '?'
      price_responsive:
        value: '?'
      mobile_storage:
        value: '?'
  network:
    power_flow:
      optimal_power_flow:
        dc_opf:
          value: '?'
        ac_opf:
          value: '?'
      sensitivity_limits:
        ptdf:
          value: '?'
        outage_factors:
          value: '?'
        generic_constraints:
          value: '?'
      network_limits:
        thermal:
          value: '?'
        phase_angle:
          value: '?'
      network_devices:
        transformers:
          value: '?'
        facts_devices:
          value: '?'
        hvdc_converters:
          value: '?'
      unbalanced_flows:
        value: '?'
    hydraulic_flow:
      linearised_flow:
        value: '?'
      composition_tracking:
        value: '?'
  asset:
    capacity_representation:
      exogenous_capacity:
        value: '?'
      continuous_capacity:
        value: '?'
      integer_investment_exogenous_capacity:
        value: '?'
      integer_investment_continuous_capacity:
        value: '?'
      retrofit:
        value: '?'
    operating_representation:
      unit_commitment:
        value: '?'
      maintenance_scheduling:
        value: '?'
    cost:
      unit:
        investment:
          value: '?'
        operation:
          value: '?'
      nonlinear:
        investment:
          value: '?'
        operation:
          value: '?'
      threshold_deviation:
        investment:
          value: '?'
        operation:
          value: '?'
      annuitisation:
        value: '?'
      inter_temporal:
        investment:
          value: '?'
        operation:
          value: '?'
  constraints:
    scope:
      inter_spatial:
        investment:
          value: '?'
        operation:
          value: '?'
      inter_asset:
        investment:
          value: '?'
        operation:
          value: '?'
      total:
        investment:
          value: '?'
        operation:
          value: '?'
      inter_temporal:
        investment:
          value: '?'
        operation:
          value: '?'
      intra_temporal:
        investment:
          value: '?'
        operation:
          value: '?'
      commitment:
        investment:
          value: '?'
        operation:
          value: '?'
      boundary_conditions:
        investment:
          value: '?'
        operation:
          value: '?'
    functional_form:
      linear_multi_variable:
        investment:
          value: '?'
        operation:
          value: '?'
      quadratic:
        investment:
          value: '?'
        operation:
          value: '?'
      nonlinear:
        investment:
          value: '?'
        operation:
          value: '?'
    path_dependent:
      investment:
        value: '?'
      operation:
        value: '?'
    dedicated_flow_routing:
      value: '?'
    reliability:
      margin_requirement:
        capacity:
          value: '?'
        operating_reserve:
          value: '?'
      probabilistic_reliability_limit:
        loss_of_load:
          value: '?'
        unserved_energy:
          value: '?'
      unserved_demand:
        value: '?'
      contingency_constrained:
        value: '?'
  model_definition:
    dimension_groups:
      value: '?'
    component_templating:
      value: '?'
    configurable_dimensions:
      value: '?'
    extensible_dimensions:
      value: '?'
  math:
    formulation_transparency:
      value: '?'
    problem_file_export:
      value: '?'
    dual_extraction:
      value: '?'
    piecewise_formulation:
      value: '?'
    user_defined_math:
      value: '?'
    soft_constraints:
      value: '?'
  interface:
    gui:
      build:
        value: '?'
      run:
        value: '?'
      analyse:
        value: '?'
    api:
      build:
        value: '?'
      run:
        value: '?'
      analyse:
        value: '?'
    cli:
      build:
        value: '?'
      run:
        value: '?'
      analyse:
        value: '?'
    remote_execution:
      value: '?'
    solver_configuration:
      value: '?'
    analysis_templates:
      value: '?'
    visualisation:
      charts:
        value: '?'
      network_maps:
        value: '?'
  io:
    plain_text:
      input:
        value: '?'
      output:
        value: '?'
    binary:
      input:
        value: '?'
      output:
        value: '?'
    database:
      input:
        value: '?'
      output:
        value: '?'
    remote_storage:
      input:
        value: '?'
      output:
        value: '?'
    lazy_loading:
      input:
        value: '?'
      output:
        value: '?'
    standardised:
      input:
        value: '?'
      output:
        value: '?'
  edge_effects:
    time_operational:
      value: '?'
    time_financial:
      value: '?'
    energy_balance:
      value: '?'
  actors:
    portfolio:
      value: '?'
    distributed_objectives:
      value: '?'
    equilibrium:
      value: '?'
    heuristic_markup:
      value: '?'
  pathway:
    perfect_foresight:
      investment:
        value: '?'
      operation:
        value: '?'
    myopic_foresight:
      investment:
        value: '?'
      operation:
        value: '?'
  objective:
    multi_objective_weighted:
      value: '?'
    multi_objective_pareto:
      value: '?'
    quadratic:
      value: '?'
  uncertainty:
    two_stage_stochastic:
      value: '?'
    multi_stage_stochastic:
      value: '?'
    risk_aversion:
      value: '?'
    near_optimal:
      value: '?'
    robust_optimisation:
      value: '?'
  tractability:
    dimension_reduction:
      temporal:
        resampling:
          value: '?'
        typical_periods:
          value: '?'
        load_duration_curves:
          value: '?'
        dimension_non_contiguity:
          value: '?'
      spatial:
        clustering:
          value: '?'
        network_reduction:
          value: '?'
      assets:
        clustering:
          value: '?'
        black_boxing:
          value: '?'
        component_removal:
          value: '?'
    reformulation:
      constraint_screening:
        value: '?'
      linearised_unit_commitment:
        value: '?'
      convex_relaxation:
        value: '?'
      function_conversion:
        value: '?'
      variable_fidelity:
        value: '?'
      decomposition:
        value: '?'
      approximation:
        value: '?'
  orchestration:
    rolling_horizon:
      value: '?'
    coupled_models:
      value: '?'
    simulation_optimisation:
      value: '?'
    scenario_runs:
      value: '?'
    sampled_runs:
      value: '?'
  preprocessing:
    forecasting:
      value: '?'
    resource_conversion:
      value: '?'
    spatial_distribution:
      demand:
        value: '?'
      network_geometry:
        value: '?'
      slack:
        value: '?'
    download:
      value: '?'
    model_catalogue:
      value: '?'
    scenario_generation:
      value: '?'
    input_validation:
      value: '?'
    numeric_scaling:
      value: '?'
  postprocessing:
    impact_assessment:
      emissions:
        value: '?'
      resource_use:
        value: '?'
      socioeconomic:
        value: '?'
    operational:
      curtailment:
        value: '?'
      capacity_factor:
        value: '?'
      full_load_hours:
        value: '?'
    financial:
      levelised_cost:
        value: '?'
      net_present_value:
        value: '?'
      asset_accounts:
        value: '?'
      marginal_price:
        value: '?'
      price_formation:
        value: '?'
      water_value:
        value: '?'
      contract_settlement:
        value: '?'
    network_transfer_metrics:
      transfer_capacity:
        value: '?'
      flow_sensitivity:
        value: '?'
    aggregation:
      value: '?'
    disaggregation:
      value: '?'
    scenario_comparison:
      value: '?'
    probabilistic_reliability_assessment:
      loss_of_load:
        value: '?'
      unserved_energy:
        value: '?'
      capacity_credit:
        value: '?'
  transparency:
    run_logs:
      value: '?'
    infeasibility_diagnosis:
      value: '?'
    metadata_propagation:
      provenance:
        value: '?'
      units:
        value: '?'
    intermediate_access:
      value: '?'
