
# SPDX-FileCopyrightText: tools/{{ shortname }}/features.yaml CODEOWNERS
# SPDX-FileCopyrightText: openmod-features contributors
#
# SPDX-License-Identifier: CC-BY-4.0

# yaml-language-server: $schema=https://raw.githubusercontent.com/open-energy-transition/openmod-features/{{ _copier_answers._commit }}/schema/tool-schema.yaml

features:
  processes:
    boundary_exchange:
      value: '?'
      source: []
    conversion:
      value: '?'
      source: []
    temporal_transfer:
      value: '?'
      source: []
    spatial_transfer:
      value: '?'
      source: []
    delayed_transfer:
      value: '?'
      source: []
    buffered_transfer:
      value: '?'
      source: []
    discrete_transport:
      value: '?'
      source: []
    state_changing_transfer:
      value: '?'
      source: []
    explicit_demand:
      value: '?'
      source: []
  network:
    electricity:
      optimal_power_flow:
        dc_opf:
          value: '?'
          source: []
        ac_opf:
          value: '?'
          source: []
      sensitivity_limits:
        ptdf:
          value: '?'
          source: []
        outage_factors:
          value: '?'
          source: []
        generic_constraints:
          value: '?'
          source: []
      network_limits:
        thermal:
          value: '?'
          source: []
        phase_angle:
          value: '?'
          source: []
      network_devices:
        transformers:
          value: '?'
          source: []
        facts_devices:
          value: '?'
          source: []
        hvdc_converters:
          value: '?'
          source: []
      unbalanced_flows:
        value: '?'
        source: []
    pipeline:
      linearised_flow:
        value: '?'
        source: []
      composition_tracking:
        value: '?'
        source: []
  asset:
    capacity_representation:
      exogenous_capacity:
        value: '?'
        source: []
      continuous_capacity:
        value: '?'
        source: []
      integer_investment_exogenous_capacity:
        value: '?'
        source: []
      integer_investment_continuous_capacity:
        value: '?'
        source: []
    operating_representation:
      unit_commitment:
        value: '?'
        source: []
      maintenance_scheduling:
        value: '?'
        source: []
    characteristics:
      linear:
        investment:
          value: '?'
          source: []
        operation:
          value: '?'
          source: []
      quadratic:
        investment:
          value: '?'
          source: []
        operation:
          value: '?'
          source: []
      nonlinear:
        investment:
          value: '?'
          source: []
        operation:
          value: '?'
          source: []
      path_dependent:
        investment:
          value: '?'
          source: []
        operation:
          value: '?'
          source: []
    cost:
      linear:
        investment:
          value: '?'
          source: []
        operation:
          value: '?'
          source: []
      unit:
        investment:
          value: '?'
          source: []
        operation:
          value: '?'
          source: []
      nonlinear:
        investment:
          value: '?'
          source: []
        operation:
          value: '?'
          source: []
      threshold_deviation:
        investment:
          value: '?'
          source: []
        operation:
          value: '?'
          source: []
      annuitisation:
        value: '?'
        source: []
      inter_temporal:
        investment:
          value: '?'
          source: []
        operation:
          value: '?'
          source: []
  constraints:
    inter_spatial:
      investment:
        value: '?'
        source: []
      operation:
        value: '?'
        source: []
    inter_asset:
      investment:
        value: '?'
        source: []
      operation:
        value: '?'
        source: []
    total:
      investment:
        value: '?'
        source: []
      operation:
        value: '?'
        source: []
    inter_temporal:
      investment:
        value: '?'
        source: []
      operation:
        value: '?'
        source: []
    intra_temporal:
      investment:
        value: '?'
        source: []
      operation:
        value: '?'
        source: []
    commitment:
      investment:
        value: '?'
        source: []
      operation:
        value: '?'
        source: []
    boundary_conditions:
      investment:
        value: '?'
        source: []
      operation:
        value: '?'
        source: []
    dedicated_flow_routing:
      value: '?'
      source: []
    reliability:
      margin_requirement:
        capacity:
          value: '?'
          source: []
        operating_reserve:
          value: '?'
          source: []
      probabilistic_reliability_limit:
        loss_of_load:
          value: '?'
          source: []
        unserved_energy:
          value: '?'
          source: []
      unserved_demand:
        value: '?'
        source: []
      contingency_constrained:
        value: '?'
        source: []
  model_definition:
    dimension_groups:
      value: '?'
      source: []
    component_templating:
      value: '?'
      source: []
    configurable_dimensions:
      value: '?'
      source: []
    extensible_dimensions:
      value: '?'
      source: []
  math:
    formulation_transparency:
      value: '?'
      source: []
    problem_file_export:
      value: '?'
      source: []
    dual_extraction:
      value: '?'
      source: []
    piecewise_formulation:
      value: '?'
      source: []
    user_defined_math:
      value: '?'
      source: []
    soft_constraints:
      value: '?'
      source: []
  interface:
    gui:
      build:
        value: '?'
        source: []
      run:
        value: '?'
        source: []
      analyse:
        value: '?'
        source: []
    api:
      build:
        value: '?'
        source: []
      run:
        value: '?'
        source: []
      analyse:
        value: '?'
        source: []
    cli:
      build:
        value: '?'
        source: []
      run:
        value: '?'
        source: []
      analyse:
        value: '?'
        source: []
    remote_execution:
      value: '?'
      source: []
    solver_configuration:
      value: '?'
      source: []
    analysis_templates:
      value: '?'
      source: []
  io:
    plain_text:
      input:
        value: '?'
        source: []
      output:
        value: '?'
        source: []
    binary:
      input:
        value: '?'
        source: []
      output:
        value: '?'
        source: []
    database:
      input:
        value: '?'
        source: []
      output:
        value: '?'
        source: []
    remote_storage:
      input:
        value: '?'
        source: []
      output:
        value: '?'
        source: []
    lazy_loading:
      input:
        value: '?'
        source: []
      output:
        value: '?'
        source: []
    standardised:
      input:
        value: '?'
        source: []
      output:
        value: '?'
        source: []
  edge_effects:
    time_operational:
      value: '?'
      source: []
    time_financial:
      value: '?'
      source: []
    energy_balance:
      value: '?'
      source: []
  actors:
    portfolio:
      value: '?'
      source: []
    distributed_objectives:
      value: '?'
      source: []
    equilibrium:
      value: '?'
      source: []
  pathway:
    perfect_foresight:
      investment:
        value: '?'
        source: []
      operation:
        value: '?'
        source: []
    myopic_foresight:
      investment:
        value: '?'
        source: []
      operation:
        value: '?'
        source: []
  objective:
    multi_objective_weighted:
      value: '?'
      source: []
    multi_objective_pareto:
      value: '?'
      source: []
    quadratic:
      value: '?'
      source: []
  uncertainty:
    two_stage_stochastic:
      value: '?'
      source: []
    multi_stage_stochastic:
      value: '?'
      source: []
    risk_aversion:
      value: '?'
      source: []
    near_optimal:
      value: '?'
      source: []
    robust_optimisation:
      value: '?'
      source: []
  tractability:
    dimension_reduction:
      temporal:
        resampling:
          value: '?'
          source: []
        typical_periods:
          value: '?'
          source: []
        load_duration_curves:
          value: '?'
          source: []
        dimension_non_contiguity:
          value: '?'
          source: []
      spatial:
        clustering:
          value: '?'
          source: []
        network_reduction:
          value: '?'
          source: []
      assets:
        clustering:
          value: '?'
          source: []
        black_boxing:
          value: '?'
          source: []
        component_removal:
          value: '?'
          source: []
    reformulation:
      constraint_screening:
        value: '?'
        source: []
      linearised_unit_commitment:
        value: '?'
        source: []
      convex_relaxation:
        value: '?'
        source: []
      function_conversion:
        value: '?'
        source: []
      variable_fidelity:
        value: '?'
        source: []
      decomposition:
        value: '?'
        source: []
      approximation:
        value: '?'
        source: []
  orchestration:
    rolling_horizon:
      value: '?'
      source: []
    simulation_optimisation:
      value: '?'
      source: []
    scenario_runs:
      value: '?'
      source: []
    sampled_runs:
      value: '?'
      source: []
  preprocessing:
    forecasting:
      value: '?'
      source: []
    spatial_distribution:
      demand:
        value: '?'
        source: []
      network_geometry:
        value: '?'
        source: []
      slack:
        value: '?'
        source: []
    download:
      value: '?'
      source: []
    model_catalogue:
      value: '?'
      source: []
    scenario_generation:
      value: '?'
      source: []
    input_validation:
      value: '?'
      source: []
    numeric_scaling:
      value: '?'
      source: []
  postprocessing:
    impact_assessment:
      emissions:
        value: '?'
        source: []
      resource_use:
        value: '?'
        source: []
      socioeconomic:
        value: '?'
        source: []
    operational:
      curtailment:
        value: '?'
        source: []
      capacity_factor:
        value: '?'
        source: []
      full_load_hours:
        value: '?'
        source: []
    financial:
      levelised_cost:
        value: '?'
        source: []
      net_present_value:
        value: '?'
        source: []
      asset_accounts:
        value: '?'
        source: []
      marginal_price:
        value: '?'
        source: []
      water_value:
        value: '?'
        source: []
      contract_settlement:
        value: '?'
        source: []
    network_transfer_metrics:
      transfer_capacity:
        value: '?'
        source: []
      flow_sensitivity:
        value: '?'
        source: []
    aggregation:
      temporal:
        value: '?'
        source: []
      spatial:
        value: '?'
        source: []
      assets:
        value: '?'
        source: []
    disaggregation:
      temporal:
        value: '?'
        source: []
      spatial:
        value: '?'
        source: []
      assets:
        value: '?'
        source: []
    scenario_comparison:
      value: '?'
      source: []
    probabilistic_reliability_assessment:
      loss_of_load:
        value: '?'
        source: []
      unserved_energy:
        value: '?'
        source: []
      capacity_credit:
        value: '?'
        source: []
  transparency:
    run_logs:
      value: '?'
      source: []
    infeasibility_diagnosis:
      value: '?'
      source: []
    metadata_propagation:
      provenance:
        value: '?'
        source: []
      units:
        value: '?'
        source: []
    intermediate_access:
      value: '?'
      source: []
