
# SPDX-FileCopyrightText: use-cases/{{ shortname }}/features.yaml CODEOWNERS
# SPDX-FileCopyrightText: openmod-features contributors
#
# SPDX-License-Identifier: CC-BY-4.0

# yaml-language-server: $schema=https://raw.githubusercontent.com/open-energy-transition/openmod-features/{{ _copier_answers._commit }}/schema/use-case-schema.yaml

assumptions: []
features:
  asset__candidates:
    converters:
      value: null
    electricity_transmission:
      value: null
    endogenous:
      value: null
    exogenous:
      value: null
    fluid_or_gas_distribution:
      value: null
    generators:
      value: null
    loads:
      value: null
    storage:
      value: null
  asset__capacity_representation:
    grouped:
      value: null
    partial_grouped:
      value: null
    units:
      value: null
  asset__chaining:
    asset_linking:
      value: null
    stockpiling:
      value: null
  asset__cost__investment:
    annuitisation:
      value: null
    linear:
      value: null
    piecewise:
      value: null
    subsidy/penalty:
      value: null
    unit:
      value: null
  asset__cost__operation:
    linear:
      value: null
    piecewise:
      value: null
    subsidy/penalty:
      value: null
    unit:
      value: null
  asset__operating_characteristics:
    iterative:
      value: null
    linear:
      value: null
    piecewise:
      value: null
    static non_dimensional:
      value: null
    static_dimensional:
      value: null
  asset__operating_constraints:
    inter_spatial:
      value: null
    inter_temporal:
      value: null
    operating:
      value: null
    total:
      value: null
  asset__operating_representation:
    ed:
      value: null
    uced:
      value: null
  competition:
    distributed_objectives:
      value: null
    portfolio:
      value: null
  edge_effects:
    energy_balance:
      value: null
    spatial:
      value: null
    time_financial:
      value: null
    time_operational:
      value: null
  interface__input:
    cli:
      value: null
    gui:
      value: null
    no_code:
      value: null
    scripting:
      value: null
    standardised:
      value: null
  interface__output:
    gui:
      value: null
    logs:
      value: null
    reports:
      value: null
    standardised:
      value: null
    tables:
      value: null
  optimisation_problem:
    configuration:
      value: null
    decomposition:
      value: null
    near_optimal:
      value: null
    sim + opt:
      value: null
    user_defined_constraints:
      value: null
    user_defined_variables:
      value: null
  postprocessing:
    aggregation:
      value: null
    curtailment:
      value: null
    financial:
      value: null
    future_cost_function:
      value: null
    gtc:
      value: null
    impact_assessment:
      value: null
    lcoe:
      value: null
    lodf:
      value: null
    ptdf:
      value: null
    shadow_prices:
      value: null
  preprocessing:
    download:
      value: null
    forecasting:
      value: null
    spatial_distribution:
      value: null
  resource_adequacy:
    eens:
      value: null
    lolp:
      value: null
    maintenance_scheduling:
      value: null
    monte_carlo:
      value: null
    sampling:
      value: null
  robustness:
    asset_outages:
      value: null
    eens_limit:
      value: null
    lolp_limit:
      value: null
    multi_stage_stochastic:
      value: null
    ram:
      value: null
    reserve_limit:
      value: null
    two_stage_stochastic:
      value: null
    voll:
      value: null
  spatial__resolution__simplification:
    network:
      value: null
    resampling:
      value: null
  system__carriers:
    coupled:
      value: null
    decoupled:
      value: null
  system__limits:
    capacity:
      value: null
    operation:
      value: null
  time__foresight:
    myopic:
      value: null
    perfect:
      value: null
  time__horizon:
    multi_year:
      value: null
    single_year:
      value: null
    sub_day:
      value: null
    sub_year:
      value: null
  time__resolution__simplification:
    distortion_mitigation:
      value: null
    load_duration_curves:
      value: null
    resampling:
      value: null
    typical_periods:
      value: null
  transmission__limits:
    gtc:
      value: null
    phase_angle:
      value: null
    ptdf:
      value: null
    thermal:
      value: null
  transmission__opf:
    ac_opf:
      value: null
    dc_opf:
      value: null
    sec_opf:
      value: null
    transport:
      value: null
