
# SPDX-FileCopyrightText: use-cases/{{ shortname }}/features.yaml CODEOWNERS
# SPDX-FileCopyrightText: openmod-features contributors
#
# SPDX-License-Identifier: CC-BY-4.0

# yaml-language-server: $schema=https://raw.githubusercontent.com/open-energy-transition/openmod-features/{{ _copier_answers._commit }}/schema/use-case-schema.yaml

assumptions: []
features:
  asset__candidates:
    converters:
      value: '?'
    electricity_transmission:
      value: '?'
    endogenous:
      value: '?'
    exogenous:
      value: '?'
    fluid_or_gas_distribution:
      value: '?'
    generators:
      value: '?'
    loads:
      value: '?'
    storage:
      value: '?'
  asset__capacity_representation:
    grouped:
      value: '?'
    partial_grouped:
      value: '?'
    units:
      value: '?'
  asset__chaining:
    asset_linking:
      value: '?'
    stockpiling:
      value: '?'
  asset__cost__investment:
    annuitisation:
      value: '?'
    linear:
      value: '?'
    piecewise:
      value: '?'
    subsidy/penalty:
      value: '?'
    unit:
      value: '?'
  asset__cost__operation:
    linear:
      value: '?'
    piecewise:
      value: '?'
    subsidy/penalty:
      value: '?'
    unit:
      value: '?'
  asset__operating_characteristics:
    iterative:
      value: '?'
    linear:
      value: '?'
    piecewise:
      value: '?'
    static non_dimensional:
      value: '?'
    static_dimensional:
      value: '?'
  asset__operating_constraints:
    inter_spatial:
      value: '?'
    inter_temporal:
      value: '?'
    operating:
      value: '?'
    total:
      value: '?'
  asset__operating_representation:
    ed:
      value: '?'
    uced:
      value: '?'
  competition:
    distributed_objectives:
      value: '?'
    portfolio:
      value: '?'
  edge_effects:
    energy_balance:
      value: '?'
    spatial:
      value: '?'
    time_financial:
      value: '?'
    time_operational:
      value: '?'
  interface__input:
    cli:
      value: '?'
    gui:
      value: '?'
    no_code:
      value: '?'
    scripting:
      value: '?'
    standardised:
      value: '?'
  interface__output:
    gui:
      value: '?'
    logs:
      value: '?'
    reports:
      value: '?'
    standardised:
      value: '?'
    tables:
      value: '?'
  optimisation_problem:
    configuration:
      value: '?'
    decomposition:
      value: '?'
    near_optimal:
      value: '?'
    sim + opt:
      value: '?'
    user_defined_constraints:
      value: '?'
    user_defined_variables:
      value: '?'
  postprocessing:
    aggregation:
      value: '?'
    curtailment:
      value: '?'
    financial:
      value: '?'
    future_cost_function:
      value: '?'
    gtc:
      value: '?'
    impact_assessment:
      value: '?'
    lcoe:
      value: '?'
    lodf:
      value: '?'
    ptdf:
      value: '?'
    shadow_prices:
      value: '?'
  preprocessing:
    download:
      value: '?'
    forecasting:
      value: '?'
    spatial_distribution:
      value: '?'
  resource_adequacy:
    eens:
      value: '?'
    lolp:
      value: '?'
    maintenance_scheduling:
      value: '?'
    monte_carlo:
      value: '?'
    sampling:
      value: '?'
  robustness:
    asset_outages:
      value: '?'
    eens_limit:
      value: '?'
    lolp_limit:
      value: '?'
    multi_stage_stochastic:
      value: '?'
    ram:
      value: '?'
    reserve_limit:
      value: '?'
    two_stage_stochastic:
      value: '?'
    voll:
      value: '?'
  spatial__resolution__simplification:
    network:
      value: '?'
    resampling:
      value: '?'
  system__carriers:
    coupled:
      value: '?'
    decoupled:
      value: '?'
  system__limits:
    capacity:
      value: '?'
    operation:
      value: '?'
  time__foresight:
    myopic:
      value: '?'
    perfect:
      value: '?'
  time__horizon:
    multi_year:
      value: '?'
    single_year:
      value: '?'
    sub_day:
      value: '?'
    sub_year:
      value: '?'
  time__resolution__simplification:
    distortion_mitigation:
      value: '?'
    load_duration_curves:
      value: '?'
    resampling:
      value: '?'
    typical_periods:
      value: '?'
  transmission__limits:
    gtc:
      value: '?'
    phase_angle:
      value: '?'
    ptdf:
      value: '?'
    thermal:
      value: '?'
  transmission__opf:
    ac_opf:
      value: '?'
    dc_opf:
      value: '?'
    sec_opf:
      value: '?'
    transport:
      value: '?'
