
# SPDX-FileCopyrightText: tools/{{ shortname }}/features.yaml CODEOWNERS
# SPDX-FileCopyrightText: openmod-features contributors
#
# SPDX-License-Identifier: CC-BY-4.0

# yaml-language-server: $schema=https://raw.githubusercontent.com/open-energy-transition/openmod-features/{{ _copier_answers._commit }}/schema/tool-schema.yaml

features:
  actors:
    aggregated_prosumers:
      source: []
      value: '?'
    distributed_objectives:
      source: []
      value: '?'
    equilibrium:
      source: []
      value: '?'
    portfolio:
      source: []
      value: '?'
  asset__capacity_representation:
    continuous_capacity:
      source: []
      value: '?'
    exogenous_capacity:
      source: []
      value: '?'
    integer_investment_continuous_capacity:
      source: []
      value: '?'
    integer_investment_exogenous_capacity:
      source: []
      value: '?'
  asset__cost__investment:
    annuitisation:
      source: []
      value: '?'
    linear:
      source: []
      value: '?'
    piecewise:
      source: []
      value: '?'
    threshold_deviation:
      source: []
      value: '?'
    unit:
      source: []
      value: '?'
  asset__cost__operation:
    inter_temporal:
      source: []
      value: '?'
    linear:
      source: []
      value: '?'
    piecewise:
      source: []
      value: '?'
    threshold_deviation:
      source: []
      value: '?'
    unit:
      source: []
      value: '?'
  asset__investment_constraints:
    brownfield:
      source: []
      value: '?'
    inter_period:
      source: []
      value: '?'
    minimum_size:
      source: []
      value: '?'
    total:
      source: []
      value: '?'
  asset__operating_characteristics:
    configurable_dimensions:
      source: []
      value: '?'
    extensible_dimensions:
      source: []
      value: '?'
    iterative:
      source: []
      value: '?'
    linear:
      source: []
      value: '?'
    path_dependent:
      source: []
      value: '?'
    piecewise:
      source: []
      value: '?'
    quadratic:
      source: []
      value: '?'
  asset__operating_constraints:
    inter_spatial:
      source: []
      value: '?'
    inter_temporal:
      source: []
      value: '?'
    operating:
      source: []
      value: '?'
    reserved_flows:
      source: []
      value: '?'
    total:
      source: []
      value: '?'
  asset__operating_representation:
    ed:
      source: []
      value: '?'
    maintenance_scheduling:
      source: []
      value: '?'
    uced:
      source: []
      value: '?'
  asset__resolution:
    grouped:
      source: []
      value: '?'
    units:
      source: []
      value: '?'
  data__io:
    binary:
      source: []
      value: '?'
    database:
      source: []
      value: '?'
    lazy_loading:
      source: []
      value: '?'
    plain_text:
      source: []
      value: '?'
    remote_storage:
      source: []
      value: '?'
  edge_effects:
    energy_balance:
      source: []
      value: '?'
    time_financial:
      source: []
      value: '?'
    time_operational:
      source: []
      value: '?'
  interface__analysis:
    gui:
      source: []
      value: '?'
    reports:
      source: []
      value: '?'
    standardised_data:
      source: []
      value: '?'
    tables:
      source: []
      value: '?'
  interface__build:
    api:
      source: []
      value: '?'
    component_groups:
      source: []
      value: '?'
    component_templating:
      source: []
      value: '?'
    config_files:
      source: []
      value: '?'
    gui:
      source: []
      value: '?'
    standardised_data:
      source: []
      value: '?'
  interface__math:
    formulation_transparency:
      source: []
      value: '?'
    problem_file_export:
      source: []
      value: '?'
    soft_constraints:
      source: []
      value: '?'
    user_defined_math:
      source: []
      value: '?'
    user_defined_objective:
      source: []
      value: '?'
  interface__run:
    api:
      source: []
      value: '?'
    cli:
      source: []
      value: '?'
    gui:
      source: []
      value: '?'
    remote_execution:
      source: []
      value: '?'
    solver_configuration:
      source: []
      value: '?'
  network__electricity:
    ac_opf:
      source: []
      value: '?'
    dc_opf:
      source: []
      value: '?'
    network_devices:
      source: []
      value: '?'
    network_limits:
      source: []
      value: '?'
    ptdf:
      source: []
      value: '?'
    security_constrained:
      source: []
      value: '?'
  optimisation__objective:
    multi_objective_pareto:
      source: []
      value: '?'
    multi_objective_weighted:
      source: []
      value: '?'
    quadratic:
      source: []
      value: '?'
  orchestration:
    rolling_horizon:
      source: []
      value: '?'
    sampled_runs:
      source: []
      value: '?'
    scenario_runs:
      source: []
      value: '?'
    simulation_optimisation:
      source: []
      value: '?'
  postprocessing:
    aggregation:
      source: []
      value: '?'
    contract_settlement:
      source: []
      value: '?'
    curtailment:
      source: []
      value: '?'
    disaggregation:
      source: []
      value: '?'
    elcc:
      source: []
      value: '?'
    financial:
      source: []
      value: '?'
    future_cost_function:
      source: []
      value: '?'
    impact_assessment:
      source: []
      value: '?'
    network_transfer_metrics:
      source: []
      value: '?'
    probabilistic_reliability_assessment:
      source: []
      value: '?'
    scenario_comparison:
      source: []
      value: '?'
    shadow_prices:
      source: []
      value: '?'
  preprocessing:
    download:
      source: []
      value: '?'
    forecasting:
      source: []
      value: '?'
    input_validation:
      source: []
      value: '?'
    model_catalogue:
      source: []
      value: '?'
    scenario_generation:
      source: []
      value: '?'
    spatial_distribution:
      source: []
      value: '?'
  system__limits:
    capacity:
      source: []
      value: '?'
    operation:
      source: []
      value: '?'
  system__processes:
    boundary_exchange:
      source: []
      value: '?'
    conversion:
      source: []
      value: '?'
    delayed_transfer:
      source: []
      value: '?'
    discrete_transport:
      source: []
      value: '?'
    explicit_demand:
      source: []
      value: '?'
    spatial_transfer:
      source: []
      value: '?'
    state_changing_transfer:
      source: []
      value: '?'
    temporal_transfer:
      source: []
      value: '?'
  system__reliability:
    margin_requirement:
      source: []
      value: '?'
    probabilistic_reliability_limit:
      source: []
      value: '?'
    unserved_demand:
      source: []
      value: '?'
  time__pathway:
    backcasting:
      source: []
      value: '?'
    myopic_foresight:
      source: []
      value: '?'
    perfect_foresight:
      source: []
      value: '?'
  tractability__algorithm:
    approximation:
      source: []
      value: '?'
    decomposition:
      source: []
      value: '?'
  tractability__reformulation:
    convex_relaxation:
      source: []
      value: '?'
    function_conversion:
      source: []
      value: '?'
    linearised_unit_commitment:
      source: []
      value: '?'
    variable_fidelity:
      source: []
      value: '?'
  tractability__spatial:
    network_reduction:
      source: []
      value: '?'
    zone_aggregation:
      source: []
      value: '?'
  tractability__structural:
    black_boxing:
      source: []
      value: '?'
    clustering:
      source: []
      value: '?'
    component_removal:
      source: []
      value: '?'
    constraint_screening:
      source: []
      value: '?'
  tractability__temporal:
    distortion_mitigation:
      source: []
      value: '?'
    load_duration_curves:
      source: []
      value: '?'
    resampling:
      source: []
      value: '?'
    typical_periods:
      source: []
      value: '?'
  uncertainty:
    multi_stage_stochastic:
      source: []
      value: '?'
    near_optimal:
      source: []
      value: '?'
    risk_aversion:
      source: []
      value: '?'
    robust_optimisation:
      source: []
      value: '?'
    two_stage_stochastic:
      source: []
      value: '?'
  workflow__transparency:
    infeasibility_diagnosis:
      source: []
      value: '?'
    intermediate_access:
      source: []
      value: '?'
    metadata_propagation:
      source: []
      value: '?'
    run_logs:
      source: []
      value: '?'
    unit_tracking:
      source: []
      value: '?'
