
# SPDX-FileCopyrightText: tools/{{ shortname }}/features.yaml CODEOWNERS
# SPDX-FileCopyrightText: openmod-features contributors
#
# SPDX-License-Identifier: CC-BY-4.0

# yaml-language-server: $schema=https://raw.githubusercontent.com/open-energy-transition/openmod-features/{{ _copier_answers._commit }}/schema/tool-schema.yaml

features:
  actors:
    distributed_objectives:
      source: []
      value: '?'
    equilibrium:
      source: []
      value: '?'
    portfolio:
      source: []
      value: '?'
  asset__capacity_representation:
    continuous_capacity:
      source: []
      value: '?'
    exogenous_capacity:
      source: []
      value: '?'
    integer_investment_continuous_capacity:
      source: []
      value: '?'
    integer_investment_exogenous_capacity:
      source: []
      value: '?'
  asset__characteristics:
    configurable_dimensions:
      source: []
      value:
        investment: '?'
        operation: '?'
    extensible_dimensions:
      source: []
      value:
        investment: '?'
        operation: '?'
    linear:
      source: []
      value:
        investment: '?'
        operation: '?'
    nonlinear:
      source: []
      value:
        investment: '?'
        operation: '?'
    path_dependent:
      source: []
      value:
        investment: '?'
        operation: '?'
    quadratic:
      source: []
      value:
        investment: '?'
        operation: '?'
  asset__constraints:
    boundary_conditions:
      source: []
      value:
        investment: '?'
        operation: '?'
    commitment:
      source: []
      value:
        investment: '?'
        operation: '?'
    dedicated_flow_routing:
      source: []
      value: '?'
    inter_asset:
      source: []
      value:
        investment: '?'
        operation: '?'
    inter_spatial:
      source: []
      value:
        investment: '?'
        operation: '?'
    inter_temporal:
      source: []
      value:
        investment: '?'
        operation: '?'
    intra_temporal:
      source: []
      value:
        investment: '?'
        operation: '?'
    total:
      source: []
      value:
        investment: '?'
        operation: '?'
  asset__cost:
    annuitisation:
      source: []
      value: '?'
    inter_temporal:
      source: []
      value:
        investment: '?'
        operation: '?'
    linear:
      source: []
      value:
        investment: '?'
        operation: '?'
    nonlinear:
      source: []
      value:
        investment: '?'
        operation: '?'
    threshold_deviation:
      source: []
      value:
        investment: '?'
        operation: '?'
    unit:
      source: []
      value:
        investment: '?'
        operation: '?'
  asset__operating_representation:
    maintenance_scheduling:
      source: []
      value: '?'
    unit_commitment:
      source: []
      value: '?'
  data__io:
    binary:
      source: []
      value:
        input: '?'
        output: '?'
    database:
      source: []
      value:
        input: '?'
        output: '?'
    lazy_loading:
      source: []
      value:
        input: '?'
        output: '?'
    plain_text:
      source: []
      value:
        input: '?'
        output: '?'
    remote_storage:
      source: []
      value:
        input: '?'
        output: '?'
  edge_effects:
    energy_balance:
      source: []
      value: '?'
    time_financial:
      source: []
      value: '?'
    time_operational:
      source: []
      value: '?'
  interface:
    analysis_templates:
      source: []
      value: '?'
    api:
      source: []
      value:
        analyse: '?'
        build: '?'
        run: '?'
    cli:
      source: []
      value:
        analyse: '?'
        build: '?'
        run: '?'
    component_templating:
      source: []
      value: '?'
    dimension_groups:
      source: []
      value: '?'
    gui:
      source: []
      value:
        analyse: '?'
        build: '?'
        run: '?'
    remote_execution:
      source: []
      value: '?'
    solver_configuration:
      source: []
      value: '?'
    standardised_data:
      source: []
      value:
        analyse: '?'
        build: '?'
  interface__math:
    dual_extraction:
      source: []
      value: '?'
    formulation_transparency:
      source: []
      value: '?'
    piecewise_formulation:
      source: []
      value: '?'
    problem_file_export:
      source: []
      value: '?'
    soft_constraints:
      source: []
      value: '?'
    user_defined_math:
      source: []
      value: '?'
  network__electricity:
    network_devices:
      source: []
      value:
        facts_devices: '?'
        hvdc_converters: '?'
        transformers: '?'
    network_limits:
      source: []
      value:
        phase_angle: '?'
        thermal: '?'
    optimal_power_flow:
      source: []
      value:
        ac_opf: '?'
        dc_opf: '?'
    sensitivity_limits:
      source: []
      value:
        generic_constraints: '?'
        outage_factors: '?'
        ptdf: '?'
    unbalanced_flows:
      source: []
      value: '?'
  network__pipeline:
    composition_tracking:
      source: []
      value: '?'
    linearised_flow:
      source: []
      value: '?'
  optimisation__objective:
    multi_objective_pareto:
      source: []
      value: '?'
    multi_objective_weighted:
      source: []
      value: '?'
    quadratic:
      source: []
      value: '?'
  orchestration:
    rolling_horizon:
      source: []
      value: '?'
    sampled_runs:
      source: []
      value: '?'
    scenario_runs:
      source: []
      value: '?'
    simulation_optimisation:
      source: []
      value: '?'
  postprocessing:
    aggregation:
      source: []
      value:
        assets: '?'
        spatial: '?'
        temporal: '?'
    disaggregation:
      source: []
      value:
        assets: '?'
        spatial: '?'
        temporal: '?'
    financial:
      source: []
      value:
        asset_accounts: '?'
        contract_settlement: '?'
        levelised_cost: '?'
        marginal_price: '?'
        net_present_value: '?'
        water_value: '?'
    impact_assessment:
      source: []
      value:
        emissions: '?'
        resource_use: '?'
        socioeconomic: '?'
    network_transfer_metrics:
      source: []
      value:
        flow_sensitivity: '?'
        transfer_capacity: '?'
    operational:
      source: []
      value:
        capacity_factor: '?'
        curtailment: '?'
        full_load_hours: '?'
    probabilistic_reliability_assessment:
      source: []
      value:
        capacity_credit: '?'
        loss_of_load: '?'
        unserved_energy: '?'
    scenario_comparison:
      source: []
      value: '?'
  preprocessing:
    download:
      source: []
      value: '?'
    forecasting:
      source: []
      value: '?'
    input_validation:
      source: []
      value: '?'
    model_catalogue:
      source: []
      value: '?'
    numeric_scaling:
      source: []
      value: '?'
    scenario_generation:
      source: []
      value: '?'
    spatial_distribution:
      source: []
      value:
        demand: '?'
        network_geometry: '?'
        slack: '?'
  system__processes:
    boundary_exchange:
      source: []
      value: '?'
    buffered_transfer:
      source: []
      value: '?'
    conversion:
      source: []
      value: '?'
    delayed_transfer:
      source: []
      value: '?'
    discrete_transport:
      source: []
      value: '?'
    explicit_demand:
      source: []
      value: '?'
    spatial_transfer:
      source: []
      value: '?'
    state_changing_transfer:
      source: []
      value: '?'
    temporal_transfer:
      source: []
      value: '?'
  system__reliability:
    contingency_constrained:
      source: []
      value: '?'
    margin_requirement:
      source: []
      value:
        capacity: '?'
        operating_reserve: '?'
    probabilistic_reliability_limit:
      source: []
      value:
        loss_of_load: '?'
        unserved_energy: '?'
    unserved_demand:
      source: []
      value: '?'
  time__pathway:
    myopic_foresight:
      source: []
      value:
        investment: '?'
        operation: '?'
    perfect_foresight:
      source: []
      value:
        investment: '?'
        operation: '?'
    singular:
      source: []
      value:
        investment: '?'
        operation: '?'
  tractability__dimension_reduction:
    assets:
      source: []
      value:
        black_boxing: '?'
        clustering: '?'
        component_removal: '?'
    spatial:
      source: []
      value:
        clustering: '?'
        network_reduction: '?'
    temporal:
      source: []
      value:
        dimension_non_contiguity: '?'
        load_duration_curves: '?'
        resampling: '?'
        typical_periods: '?'
  tractability__reformulation:
    approximation:
      source: []
      value: '?'
    constraint_screening:
      source: []
      value: '?'
    convex_relaxation:
      source: []
      value: '?'
    decomposition:
      source: []
      value: '?'
    function_conversion:
      source: []
      value: '?'
    linearised_unit_commitment:
      source: []
      value: '?'
    variable_fidelity:
      source: []
      value: '?'
  uncertainty:
    multi_stage_stochastic:
      source: []
      value: '?'
    near_optimal:
      source: []
      value: '?'
    risk_aversion:
      source: []
      value: '?'
    robust_optimisation:
      source: []
      value: '?'
    two_stage_stochastic:
      source: []
      value: '?'
  workflow__transparency:
    infeasibility_diagnosis:
      source: []
      value: '?'
    intermediate_access:
      source: []
      value: '?'
    metadata_propagation:
      source: []
      value:
        provenance: '?'
        units: '?'
    run_logs:
      source: []
      value: '?'
